/* Body Style */
body {
	background-image:url(../images/woodBackground.jpg);
}

/* ID Styles */
#wrapper {
	width:70%;
	height:80%;
	border:5px solid grey;
	box-shadow:0px 0px 100px black;
	position:fixed;
	left:16%;
	top:15%;
	background-color:#FFFFFF;
}

#results {
	width:70%;
	border:2px solid black;
	background-color:lightgrey;
	margin-left:auto;
	margin-right:auto;
}

/* Class Styles */
.left {
	width:40%;
	margin-left:5%;
	height:100%;
}

.left h1 {
	text-align:center;
}


/* Nav Style */
nav ul {
	width:70%;
    list-style-type: none;
    top:1%;
    left:16.5%;
    position:fixed;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-left:5%;
    width:24.8%;
}

nav li:first-of-type {
	margin-left:0px;
    width:10%
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:90px;
    background-color:grey;
    border:groove 5px grey;
}

nav li a:hover {
    box-shadow:inset 0px 0px 10px #333;
}

#once {
    padding:10px;
    width:60%; 
    height:86.5%;
    margin-left:auto;
    margin-right:auto; 
    border:2px solid black;
    border-raidus:10px; 
    background-color:lightgrey;
    margin-top:2.5%;
}


/* Form Style */
form {
    border: 2px solid black;
    height:71%;
    padding:10px;
    font-weight:bold;
	background-color:lightgrey;
	border-radius:10px;
}

form input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button[type=submit] {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type=submit]:hover {
    background-color: darkgrey;
}

form textarea {
    box-sizing: border-box;
    width:100%;
    max-width:100%;
    max-height: 38%;
    margin:8px 0;
    height:38%;
    border-radius: 4px;
    padding:10px 20px;
}

iframe {
    width:100%; height:68%;
}

#date2 {
    margin-left:15px;
}

/* Aside Style */
aside {
    float:right;
    text-align:center;
    width:40%;
	height:60%;
	margin-top:12%;
    border: 2px solid black;
	background-color:lightgrey;
    margin-right:5%;
	border-radius:10px;
}

@media screen and (max-width:768px){
    
    nav li{
        float:left;
        width:100%;
        margin-left:0%;
        margin-top:2px;
    }
    nav li:first-of-type {
        width:100%;
    }

    #wrapper {
        height:53%;
        border:5px solid grey;
        box-shadow:0px 0px 100px black;
        position:fixed;
        left:16%;
        top:42%;
        background-color:#FFFFFF;
    }

    #once {
        width:90%;
        height:86.5%;
    }


    iframe {
        width:100%;
        height:60%;
    }

    #date2 {
        margin-left:5px;
    }

}

@media screen and (max-width:320px){
   
    iframe {
        margin-top:20px;
    }

   #once {
       width:80%;
   }

   #date2 {
       margin-left:0px;
   }

}